# kubeflow packages
kfp==1.6.3
kfp-server-api==1.6.0
kfserving==0.5.1

# common packages
bokeh
cloudpickle
dill
ipympl
ipywidgets
jupyterlab-git
matplotlib
pandas
scikit-image
scikit-learn
scipy
seaborn
xgboost

# pytorch packages
#torchelastic==0.2.2 this currently causes a dependency conflict, should be fixed very soon
fastai
